header {
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: fit-content;

    & > .header__container-wrapper {
        height: 100%;
        position: relative;
        top: 2rem;
    }
}

/* == CTA == */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* == SOCIALS == */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 2.3rem;
    bottom: 30%;
}

.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* == ME == */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 28rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    transform: translateZ(0);
    padding: 2rem 2rem 0rem 2rem;
    margin: 4rem auto 0;

    & > div.me__img-wrapper {
        overflow: hidden;
        border-radius: 12rem 12rem 0 0;
        background: transparent;

        & > img {
            transform: scale(2.4) translateX(0.5rem);
            background: transparent;
        }
    }
}

/* == SCROLL DOWN == */
.scroll__down {
    position: absolute;
    // right: -2.3rem;
    right: -2.3rem;
    bottom: 35%;
    transform: rotate(90deg);
    font-weight: 300;
}

/* ====== MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
    .header {
        background: red;
    }
}

/* ====== MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
 

    .header__socials,
    .scroll__down {
        display: none;
    }
}